@import '../../styles/variables.scss';

.cart {
  position: relative;
  padding: 0 3.75rem;
  padding-top: 5rem;

  .cartPageTitle {
    padding: 3rem 0 1.875rem 0;

    .cartTitleWrapper {
      margin: 0 5rem;
      color: $textBlack;
      font-size: 1.75rem;
      font-weight: $fontBold;
    }
  }

  .cartPageContent {
    @include flexSpaceBetween;
    margin: 0 5rem;

    .orderedItem {
      border-top: $border;
    }

    .buttonWrapper {
      @include flexCenter;
      justify-content: center;
      height: 6.25rem;
    }
  }
}
