* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: black;

  :visited {
    text-decoration: none;
  }

  :hover {
    text-decoration: none;
  }

  :focus {
    text-decoration: none;
  }

  :hover,
  :active {
    text-decoration: none;
  }
}
