@import '../../../styles/variables.scss';

.freeGift {
  .title {
    @include flexSpaceBetween;
    align-items: center;
    width: 55vw;
    height: 3.75rem;
    border-top: 2px solid $textBlack;
    padding: 0 1.25rem;

    p {
      color: $textBlack;
      font-size: 1.125rem;
      font-weight: $fontBold;
    }

    .buttonWrapper {
      @include flexCenter;

      p {
        color: $primaryColor;
        font-size: 0.875rem;
        font-weight: $fontBold;
      }

      .toggleBtn {
        width: 1rem;
        margin-left: 1rem;
        border: none;
        background-color: transparent;
        color: $textGray;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }

  .contentBox {
    padding: 1.25rem 1.25rem 3.75rem;
    border-bottom: $border;

    .giftList {
      @include flexCenter;
      justify-content: flex-start;
      margin-bottom: 1.875rem;

      .imgWrapper {
        @include flexColumn;
        align-items: center;
        margin-right: 2.5rem;

        img {
          width: 6rem;
          height: 6rem;
          margin-bottom: 0.5rem;
          object-fit: cover;
        }

        p {
          color: $textBlack;
          font-size: 0.813rem;
        }
      }
    }

    .description {
      padding: 1.5rem 1.25rem;
      background-color: $bgGray;
      border-radius: 0.2rem;

      ul {
        li {
          margin-bottom: 0.5rem;
          color: $textGray;
          font-size: 0.813rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
