@import '../../styles/variables.scss';

.nav {
  @include flexCenter;
  justify-content: center;
  position: fixed;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  background-color: $border;
  background: linear-gradient(to top, transparent, #a8a8a8);
  z-index: 100;

  .whiteLogoImg {
    width: 6.5rem;
  }

  .navInnerBox {
    @include flexStart;
    align-items: center;

    .leftBox {
      @include flexCenter;

      .wesullocNav {
        width: 35rem;

        .productList {
          padding-left: 5rem;
          color: $bgWhite;
        }
      }
    }

    .rightBox {
      display: flex;
      color: $bgWhite;

      .navDrop {
        display: flex;
        align-items: center;

        .item {
          margin: 0 0 0 20px;

          .cartIcon {
            border: none;
            background-color: transparent;
            color: $bgWhite;
            cursor: pointer;

            .badge {
              padding: 0.1rem 0.5rem;
              margin-left: 0.5rem;
              border-radius: 10px;
              background-color: $secondaryColor;
            }
          }

          .loginTitle {
            color: $bgWhite;
          }
        }

        .item {
          .logOut {
            background-color: transparent;
            border-style: hidden;
            color: white;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }
    }
  }
}
